<% @title = @post.Title %>
<section class="bg-light pt-5">
    <div class="home-center mt-5">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        <%= image_tag "blog-ad.png", class: "img-fluid rounded mx-auto d-block", height: "35"%>
                        <article class="my-4 pb-4">
                            <div class="blog-title text-center">
                                <h1 class="h2"><%= @post.Title %></h1>
                                <p class="font-italic">Tác Giả: <%= @post.Author %></p>
                            </div>
                            <!--end article title-->
                            <div class="blog-body">
                                <%= simple_format(@post.Content)%>
                            </div>
                            <div class="font-sm text-muted mt-5 pt-5">Tag: <%= @post.Tag %></div>
                        </article>
                        <!--end item-->
                    </div>
                </div>
                <!--<div class="comments-form row justify-content-center">
                    <div class="col-md-10 col-lg-8 col-12">
                        <h4>Leave a comment</h4>
                        <%# <%= form_with(model: comment) do |form| %>
                            <div class="col-md-6 my-2 col-12">
                                <div class="field form-group">
                                    <label>Your Name:</label>
                                    <%# <%= form.text_field :name, class:"form-control", placeholder:"Your Name" %> 
                                </div>
                            </div>
                            <div class="col-md-6 my-2 col-12">
                                <div class="field form-group">
                                    <label>Email Address:</label>
                                    <%# <%= form.text_field :email, class:"form-control", placeholder:"Email Address" %>
                                </div>
                            </div>
                            <div class="col-md-6 my-2 col-12">
                                <div class="field form-group">
                                    <label>Comment:</label>
                                    <%# <%= form.text_field :content, class:"form-control", placeholder:"Content Comment" %>
                                </div>
                            </div>
                            <div class="actions form-group">
                                <%# <%= form.submit "Submit Comment", class:"btn-outline-success form-control"  %>
                            </div>

                        <%# <% end %>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</section>